<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">

<head th:replace="~{fragments :: head(title='Inicio - NereaNatalia')}"></head>

<body id="top">

<div th:replace="~{fragments :: header}"></div>

<div th:replace="~{fragments :: nav}"></div>

<div th:replace="~{fragments :: navLog}"></div>

<div class="wrapper bgded overlay" th:style="|background-image: url('@{/images/demo/backgrounds/img.png}');|">
    <div id="pageintro" class="hoc clear">
        <article>
            <p>Natalia Palma y Nerea Mendez</p>
            <h3 class="heading">Floristería</h3>
            <p>DA2D1E - Desarrollo de tienda virtual con Spring Boot</p>
            <footer><a class="btn" th:href="@{/categories}"> ¡Empieza tu ramo! <i class="fas fa-angle-right"></i></a></footer>
        </article>
    </div>
</div>

<div class="wrapper row2">
    <section class="hoc container clear">
        <div class="sectiontitle">
            <h6 class="heading">CATEGORIAS</h6>
            <p>Navega por nuestras categorias para encontrar tu producto deseado</p>
        </div>
        <div id="latest">
            <article th:each="categoria : ${categorias}">
                <a class="imgover" th:href="@{/categories/{id}(id=${categoria.id})}">
                    <img th:if="${categoria.image != null}"
                         th:src="@{'/images/categories/' + ${categoria.image}}"
                         th:alt="${categoria.name}">
                    <img th:unless="${categoria.image != null}"
                         th:src="@{'/images/categories/No_Image_Available.jpg'}"
                         th:alt="${categoria.name}">
                </a>
                <div class="excerpt">
                    <h6 class="heading">
                        <a th:href="@{/categories/{id}(id=${categoria.id})}"
                           th:text="${categoria.name}">
                            Nombre de la categoría
                        </a>
                    </h6>
                    <p th:text="${categoria.description}">Descripción corta</p>
                </div>
            </article>
        </div>
        <footer class="center">
            <a class="btn" th:href="@{/categories}"> ¡Empieza tu ramo! <i class="fas fa-angle-right"></i></a>
        </footer>
    </section>
</div>

<div class="wrapper row3">
    <main class="hoc container clear">
        <div class="sectiontitle">
            <h6 class="heading">Valores de nuestra empresa</h6>
            <p>Conoce un poco de nosotros y nuestro cuidado hacia las flores.</p>
        </div>
        <div class="group center btmspace-80">
            <article class="one_third first"><a class="ringcon btmspace-50" href="#"><i class="fas fa-cube"></i></a>
                <h6 class="heading">Empaquetado especializado</h6>
                <p>Dolor nec magna accumsan tempus mauris lectus enim luctus vitae viverra a pharetra mollis diam phasellus nec dolor sed ornare.</p>
            </article>
            <article class="one_third"><a class="ringcon btmspace-50" href="#"><i class="fas fa-chart-pie"></i></a>
                <h6 class="heading">Distribuimos sosteniblemente</h6>
                <p>Nam rhoncus lacus at lorem fusce tempus ut vitae metus fusce hendrerit tempus sapien suspendisse condimentum mollis ligula.</p>
            </article>
            <article class="one_third"><a class="ringcon btmspace-50" href="#"><i class="fas fa-paw"></i></a>
                <h6 class="heading">Cuidado de los habitats.</h6>
                <p>Enim integer laoreet odio sed neque vestibulum vehicula neque et ornare congue lacus nisi pharetra nisl a pharetra urna metus.</p>
            </article>
        </div>
        <p class="center"><a class="btn" th:href="@{/condiciones}">Condiciones <i class="fas fa-angle-right"></i></a></p>
        <div class="clear"></div>
    </main>
</div>
<div th:replace="~{fragments :: footer}"></div>
<th:block th:replace="~{fragments :: scripts}"></th:block>

</body>
</html>